html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  margin: 2rem 3rem;
  
}

h1, h2, h3, p {
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.mainContainer {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
}

// ------------ HEADER / NAVBAR ---------------
header {
  border-bottom: lightgray 1px solid;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    h1 {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;

    } 
  }
}

// ------------ CARD STYLING ---------------
.card {
  border: solid 2px black;
}


// ------------ MAIN CONTAINER STYLING ---------------
.hotelContainer {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 1rem;
}


// ------------ SHOPPING CART STYLING ---------------
aside {
    border: solid 2px black;
    position: absolute;
    width: 300px;
    height: 80vh;
    transition: 500ms ease-in;
}
